<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.delay.queue.mapper.OrderMapper">

    <update id="updateOrderToDeletedById">
        update dream_order
        set is_deleted = 1
        where id = #{id}
    </update>

    <update id="updateOrderToDeletedByOrderName">
        update dream_order
        set is_deleted = 1
        where order_name = #{orderName}
    </update>

    <update id="updateOrderToDeletedByOrderCode">
        update dream_order
        set is_deleted = 1
        where order_code = #{orderCode}
    </update>

    <select id="selectOrderByOrderName" parameterType="com.breeze.delay.queue.entity.Order">
        select * from dream_order
        where order_name = #{orderName}
    </select>



</mapper>
